@page "/location/{Id:long}/view"
@using Microsoft.AspNetCore.Authorization
@namespace JhipsterSampleApplication.Client.Pages.Entities.Location

@attribute [Authorize(Roles = "ROLE_USER")]

<div class="d-flex justify-content-center">
    <div class="col-8">
        @if (Location != null && Location.Id != 0 && Location.Id.ToString().Length > 0)
        {
            <div>
                <h2><span>Location</span>@Location.Id</h2>

                <hr>

                @*<jhi-alert-error></jhi-alert-error>*@

                <dl class="row-md jh-entity-details">
                    <dt><span>Street Address</span></dt>
                    <dd>
                        <span>@Location.StreetAddress</span>
                    </dd>
                    <dt><span>Postal Code</span></dt>
                    <dd>
                        <span>@Location.PostalCode</span>
                    </dd>
                    <dt><span>City</span></dt>
                    <dd>
                        <span>@Location.City</span>
                    </dd>
                    <dt><span>State Province</span></dt>
                    <dd>
                        <span>@Location.StateProvince</span>
                    </dd>
                    <dt><span>Country</span></dt>
                    <dd>
                        @if (Location.CountryId != 0)
                        {
                            <div>
                                <a href="/country/@Location.Id/view">@Location.CountryId</a>
                            </div>
                        }
                    </dd>
                </dl>

                <button @onclick="Back" class="btn btn-info">
                    <Icon Name='"fa-arrow-left"' />&nbsp;<span>Back</span>
                </button>

                <a href="/location/@Location.Id/edit" class="btn btn-primary">
                    <Icon Name='"fa-pencil-alt"' />&nbsp;<span>Edit</span>
                </a>
            </div>
        }
    </div>
</div>