@page "/employee"
@using Microsoft.AspNetCore.Authorization
@using Jhipster.Client.Shared.Components
@namespace Jhipster.Client.Pages.Entities.Employee

@attribute [Authorize(Roles = "ROLE_USER")]

<div>
    <h2 id="page-heading">
        <span>Employees</span>

        <a id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee" href="/employee/new">
            <Icon Name='"fa-plus"' />
            <span class="hidden-sm-down">
                Create a new Employee
            </span>
        </a>
    </h2>

    @*<jhi-alert-error></jhi-alert-error>
            TODO ADD ALERT
        <jhi-alert></jhi-alert>*@
        <AlertError></AlertError>


    @* TODO ADD QUERY SEARCH BAR
            <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon icon="search"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                            <fa-icon icon="trash-alt"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>*@


    @if (Employees.Count == 0)
    {
        <div class="alert alert-warning" id="no-result">
            <span>No Employees found</span>
        </div>
    }
    else
    {
        <div class="table-responsive" id="entities">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th scope="col"><span>ID</span></th>
                        <th scope="col"><span>First Name</span></th>
                        <th scope="col"><span>Last Name</span></th>
                        <th scope="col"><span>Email</span></th>
                        <th scope="col"><span>Phone Number</span></th>
                        <th scope="col"><span>Hire Date</span></th>
                        <th scope="col"><span>Salary</span></th>
                        <th scope="col"><span>Commission Pct</span></th>
                        <th scope="col"><span>Manager</span></th>
                        <th scope="col"><span>Department</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Employees)
                    {
                        <tr>
                            <td><a href="/employee/@employee.Id/view">@employee.Id</a></td>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.Email</td>
                            <td>@employee.PhoneNumber</td>
                            <td>@employee.HireDate</td>
                            <td>@employee.Salary</td>
                            <td>@employee.CommissionPct</td>
                            <td>
                                @if (employee.ManagerId != 0)
                                {
                                    <div>
                                        <a href="/employee/@employee.ManagerId/view">@employee.ManagerId</a>
                                    </div>
                                }
                            </td>
                            <td>
                                @if (employee.DepartmentId != 0)
                                {
                                    <div>
                                        <a href="/department/@employee.DepartmentId/view">@employee.DepartmentId</a>
                                    </div>
                                }
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href="/employee/@employee.Id/view" class="btn btn-info btn-sm">
                                        <Icon Name='"fa-eye"'/>
                                        <span class="d-none d-md-inline">View</span>
                                    </a>

                                    <a href="/employee/@employee.Id/edit" class="btn btn-primary btn-sm">
                                        <Icon Name='"fa-pencil-alt"'/>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </a>

                                    <button @onclick="() => Delete(employee.Id)" class="btn btn-danger btn-sm">
                                        <Icon Name='"fa-times"'/>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>