@page "/jobhistory/{Id:long}/view"
@using Microsoft.AspNetCore.Authorization
@namespace JhipsterSampleApplication.Client.Pages.Entities.JobHistory

@attribute [Authorize(Roles = "ROLE_USER")]

<div class="d-flex justify-content-center">
    <div class="col-8">
        @if (JobHistory != null && JobHistory.Id != 0 && JobHistory.Id.ToString().Length > 0)
        {
            <div>
                <h2><span>JobHistory</span>@JobHistory.Id</h2>

                <hr>

                @*<jhi-alert-error></jhi-alert-error>*@

                <dl class="row-md jh-entity-details">
                    <dt><span>Start Date</span></dt>
                    <dd>
                        <span>@JobHistory.StartDate</span>
                    </dd>
                    <dt><span>End Date</span></dt>
                    <dd>
                        <span>@JobHistory.EndDate</span>
                    </dd>
                    <dt><span>Language</span></dt>
                    <dd>
                        <span>@JobHistory.Language</span>
                    </dd>
                    <dt><span>Job</span></dt>
                    <dd>
                        @if (JobHistory.JobId != 0)
                        {
                            <div>
                                <a href="/job/@JobHistory.Id/view">@JobHistory.JobId</a>
                            </div>
                        }
                    </dd>
                    <dt><span>Department</span></dt>
                    <dd>
                        @if (JobHistory.DepartmentId != 0)
                        {
                            <div>
                                <a href="/department/@JobHistory.Id/view">@JobHistory.DepartmentId</a>
                            </div>
                        }
                    </dd>
                    <dt><span>Employee</span></dt>
                    <dd>
                        @if (JobHistory.EmployeeId != 0)
                        {
                            <div>
                                <a href="/employee/@JobHistory.Id/view">@JobHistory.EmployeeId</a>
                            </div>
                        }
                    </dd>
                </dl>

                <button @onclick="Back" class="btn btn-info">
                    <Icon Name='"fa-arrow-left"' />&nbsp;<span>Back</span>
                </button>

                <a href="/jobhistory/@JobHistory.Id/edit" class="btn btn-primary">
                    <Icon Name='"fa-pencil-alt"' />&nbsp;<span>Edit</span>
                </a>
            </div>
        }
    </div>
</div>