@page "/location"
@using Microsoft.AspNetCore.Authorization
@using Jhipster.Client.Shared.Components
@namespace Jhipster.Client.Pages.Entities.Location

@attribute [Authorize(Roles = "ROLE_USER")]

<div>
    <h2 id="page-heading">
        <span>Locations</span>

        <a id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-location" href="/location/new">
            <Icon Name='"fa-plus"' />
            <span class="hidden-sm-down">
                Create a new Location
            </span>
        </a>
    </h2>

    @*<jhi-alert-error></jhi-alert-error>
            TODO ADD ALERT
        <jhi-alert></jhi-alert>*@
        <AlertError></AlertError>


    @* TODO ADD QUERY SEARCH BAR
            <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon icon="search"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                            <fa-icon icon="trash-alt"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>*@


    @if (Locations.Count == 0)
    {
        <div class="alert alert-warning" id="no-result">
            <span>No Locations found</span>
        </div>
    }
    else
    {
        <div class="table-responsive" id="entities">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th scope="col"><span>ID</span></th>
                        <th scope="col"><span>Street Address</span></th>
                        <th scope="col"><span>Postal Code</span></th>
                        <th scope="col"><span>City</span></th>
                        <th scope="col"><span>State Province</span></th>
                        <th scope="col"><span>Country</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var location in Locations)
                    {
                        <tr>
                            <td><a href="/location/@location.Id/view">@location.Id</a></td>
                            <td>@location.StreetAddress</td>
                            <td>@location.PostalCode</td>
                            <td>@location.City</td>
                            <td>@location.StateProvince</td>
                            <td>

                                @if (location.CountryId != 0)
                                {
                                    <div>
                                        <a href="/country/@location.CountryId/view">@location.CountryId</a>
                                    </div>
                                }
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href="/location/@location.Id/view" class="btn btn-info btn-sm">
                                        <Icon Name='"fa-eye"'/>
                                        <span class="d-none d-md-inline">View</span>
                                    </a>

                                    <a href="/location/@location.Id/edit" class="btn btn-primary btn-sm">
                                        <Icon Name='"fa-pencil-alt"'/>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </a>

                                    <button @onclick="() => Delete(location.Id)" class="btn btn-danger btn-sm">
                                        <Icon Name='"fa-times"'/>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>