@page "/jobhistory/new"
@page "/jobhistory/{Id:int}/edit"
@using Microsoft.AspNetCore.Authorization
@namespace Jhipster.Client.Pages.Entities.JobHistory

@attribute [Authorize(Roles = "ROLE_USER")]

<div class="row justify-content-center">
    <div class="col-8">
        <EditForm Model="@JobHistoryModel" OnValidSubmit="@Save">
            <h2 id="jhi-jobhistory-heading">Create or edit a JobHistory</h2>
            <div>
                @*
                    TODO ADD ERROR
                    <jhi-alert-error></jhi-alert-error>
                *@

                @if (Id != 0)
                {
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" readonly @bind-value="@JobHistoryModel.Id" />
                    </div>
                }

                <div class="form-group">
                    <label class="form-control-label" for="field_startDate">Start Date</label>
                    <input type="text" class="form-control" name="startDate" id="field_startDate"
                            @bind-value="@JobHistoryModel.StartDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">End Date</label>
                    <input type="text" class="form-control" name="endDate" id="field_endDate"
                            @bind-value="@JobHistoryModel.EndDate" />
                </div>
                <Select class="form-control" name="language" formControlName="language" @bind-SelectedValue="@JobHistoryModel.Language">
                        <SelectItem TValue="string" value="FRENCH">FRENCH</SelectItem>
                        <SelectItem TValue="string" value="ENGLISH">ENGLISH</SelectItem>
                        <SelectItem TValue="string" value="SPANISH">SPANISH</SelectItem>
                </Select>

                <div class="form-group">
                    <label class="form-control-label" for="field_job">Jobs</label>
                    <select class="form-control" id="field_job" name="job" @bind="@JobId">
                        <option value="0"></option>
                        @foreach (var job in JobIds)
                        {
                            if (Id != 0 && job == JobHistoryModel?.JobId)
                            {
                                <option selected="selected">@job</option>
                            }
                            else
                            {
                                <option>@job</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_department">Departments</label>
                    <select class="form-control" id="field_department" name="department" @bind="@DepartmentId">
                        <option value="0"></option>
                        @foreach (var department in DepartmentIds)
                        {
                            if (Id != 0 && department == JobHistoryModel?.DepartmentId)
                            {
                                <option selected="selected">@department</option>
                            }
                            else
                            {
                                <option>@department</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employees</label>
                    <select class="form-control" id="field_employee" name="employee" @bind="@EmployeeId">
                        <option value="0"></option>
                        @foreach (var employee in EmployeeIds)
                        {
                            if (Id != 0 && employee == JobHistoryModel?.EmployeeId)
                            {
                                <option selected="selected">@employee</option>
                            }
                            else
                            {
                                <option>@employee</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" @onclick="Back">
                    <Icon Name='"fa-ban"' />&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" class="btn btn-primary">
                    <Icon Name='"fa-save"' />&nbsp;<span>Save</span>
                </button>
            </div>
        </EditForm>
    </div>
</div>
